.container {
  width: 75%;
  height: 95vh;
  background-color: white;
  display: flex;
  justify-content: flex-star;
  align-items: start;
  border: 1px solid var(--borderUI);
  padding: 16px 8px;
  border-radius: 12px;
}

.containerUser {
  width: 100%;
  height: 95vh;
  background-color: white;
  display: flex;
  justify-content: flex-star;
  align-items: start;
  border: 1px solid var(--borderUI);
  padding: 16px 8px;
  border-radius: 12px;
}

.iconEdit {
  font-size: 1.1rem;
  color: #A1A1AA;
}

.iconDelete {
  font-size: 1.1rem;
}

.containerBrand {
  display: flex;
  flex-direction: column;
  gap: 4px;
  line-height: 12px;
}

.title {
  margin: 0;
  font-weight: 500;
}

.brand {
  font-size: 12px;
  margin: 0;
}