.container {
  width: 100%;
  height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 20px;
  gap: 24px;
}

.section {
  display: flex;
  flex-direction: column;
  position: relative;
}

.sectionInfo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.sectionContent {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.containerInfo {
  width: 90%;
}

.titleBrand {
  font-size: 24px;
  color: #FF3E3E;
  font-weight: 500;
  line-height: 16px;
  margin: 0;
}

.titleModel {
  font-size: 64px;
  line-height: 76px;
  color: white;
  margin: 0;
}

.descriptionText {
  font-size: 14px;
  color: #C4C4C4;
  margin: 0;
}

.containerTexInfo {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: flex-end;
}

.containerMotorcycle {
  width: 90%;
  position: relative;
  left: 52px;
}

.containerMouse {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}